@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@font-face {
    font-family: 'Main-Font';
    font-weight: normal;
    font-style: normal;
    src: url("../public/Garet-Book.ttf");
}

:root {
    --border-radius: 0.5rem;
    --bg-card: #fff;
    --main-font: 'Rubik', sans-serif;
    --MCOLOR: #2E14A3;
    --MFONT: 'Main-Font', sans-serif;
}
* {
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem 0rem;
    align-items: center;
    background-color: rgb(238, 235, 235);
}
.container-fluid > div {
    text-align: center;
}
.main-header {
    background-color: var(--bg-card);
    border-radius: var(--border-radius);
    padding: 3rem;
    margin-bottom: 1rem;
    font-family: var(--main-font); 
}
.random-card {
    width: 50rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--bg-card);
    display: flex;
    padding: 1rem 0.5rem;
    flex-direction: column;
    border-radius: var(--border-radius);
    font-family: var(--main-font);
}
.word-card-title {
    color: gray;
}
.word-card-body {
    padding: 2rem 0rem;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.word-card-body > h1 {
    margin-right: 1rem;
    border-bottom: 2px solid #252525;
    width: 2.5rem;
}
.opacity-0 {
    opacity: 0;
}
.opacity-1 {
    opacity: 1;
}
.alphabet-card {
    width: 50rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--bg-card);
    display: flex;
    justify-content: center;
    padding: 1rem 0.5rem;
    border-radius: var(--border-radius);
    font-family: var(--main-font);
    margin-bottom: 1rem;
    flex-direction: column;
}
.letters-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 1rem 0rem;
}
.letters {
    margin-right: 10px;
    cursor: pointer;
}
.letters:hover {
    background-color: gray;
    color: #fff;
}
.selectedLetter {
    text-decoration: line-through;
    color: red;
}
.button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: var(--MCOLOR);
    color: white;
    font-family: var(--MFONT);
    font-weight: 900;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
.btn:hover {
    opacity: .9;
}
.btn:disabled {
    opacity: .5;
    cursor: default;
}
.hangtree-card {
    width: 25rem;
    height: 35rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    font-family: var(--main-font);
    margin-bottom: 1rem;
    flex-direction: column;
}
.hangtree-header {
    width: 100%;
    text-align: center;
}
.hang-1 {
    width: 10rem;
    height: 1rem;
    background-color: #252525;
}
.hang-2 {
    width: 1rem;
    height: 30rem;
    background-color: #252525;
    position: relative;
    margin-right: 2rem;
}
.hang-3 {
    width: 15rem;
    height: 1rem;
    background-color: #252525;
    position: relative;
    margin-right: 2rem;
}
.hang-4 {
    width: 1rem;
    height: 5rem;
    background-color: #252525;
    position: absolute;
    right: 21rem;
    top: 5.4rem;
}
.hang-5 {
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid #252525;
    position: absolute;
    top: 9.9rem;
    right: 19rem;
    border-radius: 50%;
}
.hang-6 {
    width: 0.5rem;
    height: 10rem;
    background-color: #252525;
    position: absolute;
    top: 14.4rem;
    right: 21.1rem;
}
.hang-7 {
    width: 0.5rem;
    height: 5rem;
    background-color: #252525;
    position: absolute;
    right: 22.53rem;
    top: 23.9rem;
    transform: skew(-30deg);
}
.hang-8 {
    width: 0.5rem;
    height: 5rem;
    background-color: #252525;
    position: absolute;
    right: 19.7rem;
    top: 23.9rem;
    transform: skew(30deg);
}
.hang-9 {
    width: 0.5rem;
    height: 5rem;
    background-color: #252525;
    position: absolute;
    right: 22.55rem;
    top: 17rem;
    transform: skew(-30deg);
}
.hang-10 {
    width: 0.5rem;
    height: 5rem;
    background-color: #252525;
    position: absolute;
    right: 19.7rem;
    top: 17rem;
    transform: skew(30deg);
}
.hang-11 {
    width: 7rem;
    height: 0.5rem;
    background-color: rgb(233, 5, 5);
    position: absolute;
    right: 18rem;
    top: 14.8rem;
}
.gameover-bg {
    background-color: #252525;
    width: 95%;
    height: 90%;
    position: absolute;
    z-index: 1;
    opacity: .8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameover-area {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}
.gameover-title {
    font-family: var(--MFONT);
    opacity: 1;
    color: #fff;
    font-size: 80px;
}
.gameover-subtitle {
    font-family: var(--MFONT);
    opacity: 1;
    color: rgb(206, 195, 195);
    font-size: 50px;
}
